*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1{
    color:navajowhite;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(33, 103, 233, 0.199);
    padding: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(./jewelleryBackground.jpg);
    background-size: cover;
    width: 100VW;
    height: auto;
    image-rendering: optimizeQuality;
}

.product {
    display: inline-block;
    width: 300px;
    padding: 10px;
    margin: 5px;
    margin-left: 65px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 60px;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.404);

}
img{
        width: 550px;
        height: 200px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product img:hover {
    transition:1s;
    transform: scale(1.1); /* Zoom in slightly on hover */
}

.product .name {
    font-weight: bold;
    margin: 10px 0;
}
.product .price {
    font-weight: bold;
    color: rgb(170, 165, 165);
}

.product .add-to-cart {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(59, 163, 211);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border-color: white;
}
.third_row{
    margin-left: 90px;
}
.second_row{
    margin-left: 90px;

}
.first-row{
    margin-left: 90px;

}
.name{
    color:rgb(83, 83, 83);
}