*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
h1{
  color:#063664;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-image: url(./image/Fashion/fashionBackground.jpg);
  background-size: cover;
  width: 100VW;
  height: auto;
  /* image-rendering: optimizeQuality; */
}
form{
  align-content: center;
  margin-left: 50px;
}

.product {
  display: inline-block;
  width: 300px;
  padding: 10px;
  margin: 5px;
  margin-left: 65px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 60px;
  margin-top: 60px;
  background-color: rgba(255, 255, 255, 0.404);
  color:#063664;
  font-family: Arial, Helvetica, sans-serif;

}
img{
  width: 650px;
  height: 200px;
  image-rendering: optimizeQuality;
}

.product img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  image-rendering: optimizeQuality;
}

.product img:hover {
  transition:1s;
  transform: scale(1.4); 
  image-rendering: optimizeQuality;
}

.product .name {
  font-weight: bold;
  margin: 10px 0;
}
.product .price {
  font-weight: bold;
  color:#063664;
}

.product .add-to-cart {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(59, 163, 211);
  color: #fff;
  text-decoration: none;
  

}
.btn{
  border: 1px solid #063664;
  border-radius: 5px;
  padding: 10px;
  background-color: #063664;
  color:#ccc;

}
.third_row{
  margin-left: 60px;
}
.second_row{
  margin-left: 60px;

}
.first-row{
  margin-left: 60px;

}
.name{
  color: #063664;
}

/* header styling */
header{
  z-index: 999;
  position:sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  transition: 0.5s ease;
  background:#063664;
  height: 60px;
  
}
header.sticky {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

header.scrolled-up {
  transform: translateY(0);
}

/* logo styling */
#Logo-header{
  width: 200px;
  height: 155px;
  position: relative;
  left: -40px;
}
#footer-Logo{
  width: 600px;
  height: 255px;
}
 /* nav links styling */
 header .navigation{
  position: relative;
}
header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;

}
header .navigation .navigation-items a:hover{
  width: 100%;
  /* transition: 0.3s ease; */
  transform: (1.2);
  border: 1px solid white;
  color: whitesmoke;
  /* background-color: grey; */
  border-radius: 6px;
  padding: 5px;

}

@media(max-width:1040px){
  header{
      padding: 12px 20px;        
  }
  section{
      padding: 100px 20px;
  }
  .home .media-icons{
      right: 15px;       
  }
  header .navigation{
      display: none;

  }
  header .navigation.active{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1,1,1,0.5);

  }
  header .navigation .navigation-items a{       
      color: whitesmoke;
      font-size: 1.2em;
      margin: 20px;
  }
  header .navigation .navigation-items a:before{
      
      height:5px ;

  }
  header .navigation.active .navigation-items{
      background:url(./featuredBackgr.gif);
      width:600px;
      max-width: 600px;
      margin: 20px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 20%);

      
  }
  .menu-btn{
      background:url(./icons/menu.png)no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.3s ease;
  }
  .menu-btn.active{
      z-index: 999;
      background:url(./icons/close.png)no-repeat;
      background-size: 25px;
      background-position: center;
      transition: 0.3s ease;

  }


}
